<footer>
    <div class="footer-content">
        <h3>CONTACTANOS</h3>
        <ul class="socials">
            <li><a href="https://www.facebook.com/gabriela.barrientos.92"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/Gabriela2019ok"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/invites/contact/?i=1rt35hvgk98fu&utm_content=11tb9ne"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <p>Copyright-(2021) || Ojeda - todos los derechos reservados</p>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>