<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>
    <%- include('partials/header') %> 
    <main>
        <h1>Pagina oficial</h1>
        <h2>Concejal Dr.Gabriela Barrientos</h2>
        <%= mensaje %>
        <div class="logo bg-white mt-4">
            <img src="/images/fotologo.jpeg" alt="">
        </div>  
        
    </main>
    <%- include('partials/footer') %> 
</body>
</html>